/*""""""last commit: 07282019 08:55 am"""*/
.zindeks {
    position: fixed !important;
    top: 0px;
    left: 0px;
    z-index: 1000 !important;
    width: 100%;
}

#stitle {
    color:#1a1f1b;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator {
  margin: 15%;
}

#header-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

#fitem1 {
  flex-grow: 1;
}
#center-img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-height: 48vh;
}

#states a {
  cursor: pointer;
}

#states a path {
    transition: fill .5s ease;
    -moz-transition: fill .5s ease;
    -webkit-transition: fill .5s ease;
    fill: #7055CA;
  }


#states a text {
    font-size: 12px;
}
#states a text {
    cursor: pointer;
    fill: #222222;
    display: initial;
}

#states a.inverse text {
  fill: #222222;
}

#states a path:hover {
  transition: fill .5s ease;
  -moz-transition: fill .5s ease;
  -webkit-transition: fill .5s ease;
  fill:#8554C8;
}


#states a line {
    stroke: #444;
    stroke-width: 1px;}

.stateDiv div { display: inline-block; width: 100%}

div svg {
  display: block;
  margin:0 auto;
}