<!--"""last commit: 08012019 02:08 am""" -->
{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="limiter">
		<div class="container-login100">
            <div class="wrap-login100" style='padding: 20px !important; margin-top: 100px;'>
                   <div style='height:30px;'></div>
                    <h1 style="margin: 0 auto;" id='stitle'>  Stateslist </h1>

                    <table  class="table" style='margin-top: 30px;'>
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col">state</th>
                              <th scope="col">city</th>
                              <th scope="col">link</th>

                            </tr>
                        </thead>
                    <tbody>
                    {% for result in all_entries %}
                    <tr>
                       <td>{{ result.state }}</td>
                       <td>{{ result.city }}</td>
                       <td><a href='cities/{{ result.state }}/{{ result.city }}'><i class="fa fa-upload" aria-hidden="true"></i></a></td>
                    </tr>
                     {% endfor %}
                    </tbody>
                    </table>

                        <div class="text-center p-t-136">
                            <a class="txt2" href="#">
                                mladenmilosavljevic.tech
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>


			</div>
		</div>
	</div>





	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->



</div>
{% endblock %}