<!--"""last commit: 07292019 11:31 am""" -->
{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="limiter">
		<div class="container-login100">
            <div class="wrap-login100" style='padding: 20px !important; margin-top: 100px;'>
                    <h1 style="margin: 0 auto;" id='stitle'> <i class="fa fa-search" aria-hidden="true"></i> HISTORY  </h1>
                    <table  class="table" style='margin-top: 30px;'>
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col">TERM</th>
                              <th scope="col">LOCATION</th>
                              <th scope="col">DATE</th>
                              <th scope="col">ID</th>
                              <th scope="col">CSV</th>
                              <th scope="col">SHEET</th>
                            </tr>
                        </thead>
                    <tbody>
                    {% for result in Search %}
                    <tr>
                       <td>{{ result.term }}</td>
                       <td>{{ result.location }}</td>
                       <td>{{ result.date }}</td>
                       <td>{{ result.uid }}</td>
                       <td><a href="{% url 'download' result.uid %}"><i class="fa fa-download" aria-hidden="true"></i></a></td>
                       <td><a href="table/{{ result.uid }}"><i class="fa fa-upload" aria-hidden="true"></i></a></td>

                    </tr>
                     {% endfor %}
                    </tbody>
                    </table>
                    {% if Search.has_other_pages %}
                    <ul class="pagination">
                      {% if Search.has_previous %}
                        <li><a href="?page={{ result.previous_page_number }}">&laquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                      {% endif %}
                      {% for i in Search.paginator.page_range %}
                        {% if Search.number == i %}
                          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if Search.has_next %}
                        <li><a href="?page={{ result.next_page_number }}">&raquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                      {% endif %}
                    </ul>
                  {% endif %}
                        <div class="text-center p-t-136">
                            <a class="txt2" href="#">
                                mladenmilosavljevic.tech
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>


			</div>
		</div>
	</div>





	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->



</div>
{% endblock %}