.overlay {
    z-index: -1 !important;
}

.d-flex { 
flex-direction:row;
flex-wrap: nowrap;
}

.r-flex {
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items:flex-start;

}

.r-flex>div {
display: inline-block;
}

.img.mb-4 {
    width:300px;
    height:300px;
    border-radius:50%
}

.js-fullheight.d-flex{

padding: 75px 50px 0px 50px;
}